# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Build artifacts
# =========================
dist/
build/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Vector DB / Embeddings
# =========================
faiss_index/
chroma/
*.faiss
*.pkl

# =========================
# LangGraph 
# =========================
.langgraph_api
langgraph.json